<h1>Cards#add</h1>
<p>新しく登録する読書データを記入してください</p>
<table>
  <%= form_for(@card, url:{controller:'cards', action:'add'}) do |f| %>
  <tr>
    <th>タイトル</th>
    <td><%= f.text_field :title, { size:40 } %></td>
  </tr>
  <tr>
    <th>著者</th>
    <td><%= f.text_field :author, { size:40 } %></td>
  </tr>
  <tr>
    <th>価格</th>
    <td><%= f.text_field :price, { size:40 } %></td>
  </tr>
  <tr>
    <th>出版社</th>
    <td><%= f.text_field :publisher, { size:40 } %></td>
  </tr>
  <tr>
    <th>コメント</th>
    <td><%= f.text_area :memo, { size:40, rows:10 } %></td>
  </tr>
  <tr>
    <th></th>
    <td><%= f.submit "保存！"%></td>
  </tr>
  <% end %>
</table>
<p>
  <a href = "/cards">&lt;&lt;トップページに戻る</a>
</p>
