<h1>People#index</h1>
<p><%= @msg %></p>
<pre>
  <table>
    <tr>
      <th>id</th>
      <td><%= @data.id %></td>
    </tr>
    <tr>
      <th>name</th>
      <td><%= @data.name %></td>
    </tr>
    <tr>
      <th>age</th>
      <td><%= @data.age %></td>
    </tr>
    <tr>
      <th>mail</th>
      <td><%= @data.mail %></td>
    </tr>    
  </table>
</pre>
