<h1>Blogposts#delete</h1>
<p>以下を削除しても大丈夫ですか？</p>
<table>
  <tr>
    <th>Id</th>
    <td><%= @blogconfig.id %></td>
  </tr>
  <tr>
    <th>Title</th>
    <td><%= @blogconfig.title %></td>
  </tr>
  <tr>
    <th>Read</th>
    <td><%= @blogconfig.read %></td>
  </tr>
  <tr>
    <th>Content</th>
    <td><%= @blogconfig.content %></td>
  </tr>
</table>
<%= form_tag( controller: "blogposts", action: "delete" ) do |f| %> %>
  <%= hidden_field_tag :id, {value: @blogpost.id} ) %>
  <%=  submit_tag "削除！" %>
<% end %>
<p><a href = "/blogposts"><<一覧ページ</a></p>
